---
layout: default
---

<div class="home">

    <header class="post-header">
        <p class="post-meta">ls -R /post</p>
        <h1 class="post-title">post</h1>
      </header>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.url }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
