<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.gitlab %}
          <li>
            {% include icon.html username=site.gitlab site="gitlab.com" icon="gitlab" %}
          </li>
          {% endif %}

          {% if site.github %}
          <li>
            {% include icon.html username=site.github site="github.com" icon="github" %}
          </li>
          {% endif %}

          {% if site.twitter %}
          <li>
            {% include icon.html username=site.twitter site="twitter.com" icon="twitter" %}
          </li>
          {% endif %}
          {% if site.discord %}
          <li>
            {% include icon.html username=site.discord icon="discord" %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>