{% if include.site %}
<a href="https://{{ include.site }}/{{ include.username }}">
{% endif %}
    <span class="icon">
        <i class="fab fa-{{ include.icon }}"></i>
    </span>
    <span class="username">{{ include.username }}</span>
{% if include.site %}
</a>
{% endif %}