---
layout: default
---
<article class="post">

  <header class="post-header">
    <p class="post-meta">{{ page.exec }} {{ page.url }}</p>
    <h1 class="post-title">{{ page.title | downcase}}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
